/eng.counter.exp0.tr
/eng.counter.exp0.txt
/eng.counter.exp1.box
/eng.counter.exp1.tr
/eng.counter.exp1.txt
/unicharset
/Microfeat
/eng.counter.exp.tr
/eng.unicharset
/normproto
/output.txt
/pffmtable
/inttemp
